@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap');

/////////// COLORS ///////////

$background-yellow: rgba(255,252,232,0.25);
$yellow: #ECE16D;
$light-yellow: #FFFCD7;
$blue: #6ED8EF;
$light-blue: #CFF6FF;
$grey: #6B6B6B;
$dark: rgba(0, 0, 0, 0.5);

/////////// FONTS ///////////

$font_justMeAgainDownHere: 'Just Me Again Down Here', cursive;
$font_gantari: 'Gantari', sans-serif;